@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - ELinkTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/64301a05d6.js" crossorigin="anonymous"></script>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#editor',
            plugins: 'lists, link, image, media',
            toolbar: 'undo redo | styles bold italic strikethrough blockquote bullist numlist forecolor backcolor | removeformat | link image media | alignleft aligncenter alignright alignjustify | outdent indent',
            menubar: false,
            setup: (editor) => {
                // Apply the focus effect
                editor.on("init", () => {
                    editor.getContainer().style.transition = "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";
                });
                editor.on("focus", () => {
                    (editor.getContainer().style.boxShadow = "0 0 0 .2rem rgba(0, 123, 255, .25)"),
                        (editor.getContainer().style.borderColor = "#80bdff");
                });
                editor.on("blur", () => {
                    (editor.getContainer().style.boxShadow = ""),
                        (editor.getContainer().style.borderColor = "");
                });
            },
            height: 'calc(100vh - 20rem)',
            content_css: false,
            content_style: `
                        body {
                          color: #3d3d3d;
                          font-size: 18px;
                          line-height: 1.4;
                          margin: .5rem auto;
                          padding: .5rem;
                          width: 95%;
                        }
                        blockquote {
                          border-left: 8px solid #F39C12;
                          color: #555555;
                          font-size: 1.2em;
                          width: 75%;
                          margin: 50px auto;
                          padding: 1.2em 30px 1.2em 75px;
                          position: relative;
                          background: #EDEDED;
                          font-family: Open Sans;
                          font-style: italic;
                          line-height: 1.6;
                        }
                        blockquote::before {
                          font-family: Arial;
                          color: #F39C12;
                          content: '“';
                          font-size: 5em;
                          left: 10px;
                          pointer-events: none;
                          position: absolute;
                          top: -10px;
                        }
                        blockquote::after {
                          content: '';
                        }
                    `
        });
    </script>

    <script>        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 10000);</script>
</head>
<body style="padding-top: 70px;">
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark mb-5">
            <div class="container-fluid ps-5">
                <a class="navbar-brand text-light " asp-area="" asp-controller="Main" asp-action="Index">ELinkTech</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="@Url.Action("Index","Main")#sect1">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="@Url.Action("Index","Main")#sect2">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="@Url.Action("Index","Main")#sect3">Services</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-light page-scroll" href="@Url.Action("Index","Main")#sect4">Resellers</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="@Url.Action("Index","Main")#sect5">Contact</a>
                        </li>
                        @{
                            var userId = userManager.GetUserId(User);
                            var user = await userManager.FindByIdAsync(userId);
                            if (signInManager.IsSignedIn(User))
                            {
                                if (userManager.IsInRoleAsync(user, "Administrator").Result == true)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Admin
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li class="dropdown-item">
                                                <a class="nav-link" asp-controller="Product" asp-action="FindProducts">Services</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="nav-link" asp-controller="Admin" asp-action="GetCategories">Categories</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="nav-link" asp-controller="Admin" asp-action="GetSuppliers">Suppliers</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="nav-link" asp-controller="Admin" asp-action="GetQuotes">Quotes</a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            }
                        }
                        <!--<li class="nav-item">
                            a class="nav-link text-light " asp-area="" asp-controller="Main" asp-action="Privacy">Privacy</a>
                        </li>-->
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @{
                            if (signInManager.IsSignedIn(User))
                            {
                                if (userManager.IsInRoleAsync(user, "Administrator").Result == true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-controller="Admin" asp-action="Index">Hello @User.Identity?.Name!</a>
                                    </li>
                                }
                                else if (userManager.IsInRoleAsync(user, "User").Result == true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-controller="Customer" asp-action="UserProfile">Hello @User.Identity?.Name!</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Main" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Main" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Main" asp-action="Register">Register</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3 px-5">
        <div class="container-fluid" style="padding-bottom: 70px;">
            @RenderBody()
        </div>
    </main>
    <footer class="border-top footer text-muted bg-dark offcanvas-bottom">
        <div class="container p-3">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="d-flex justify-content-left justify-content-lg-start">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>&nbsp;<b>ELinkTech</b>&nbsp;|&nbsp;All Rights Reserved.
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="d-flex justify-content-center justify-content-lg-end">
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="text-reset">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-lg-5">
                    <h6 class="text-uppercase fw-bold mt-3 mb-2">
                        Main Page
                    </h6>

                    <div class="justify-content-end justify-content-lg-end">
                        <!-- Links -->

                        <a href="@Url.Action("Index","Main")#sect1" class="nav-link p-0 text-light">Home</a>


                        <a href="@Url.Action("Index","Main")#sect2" class="nav-link p-0 text-light">About Us</a>


                        <a href="@Url.Action("Index","Main")#sect3" class="nav-link p-0 text-light">Services</a>


                        <a href="@Url.Action("Index","Main")#sect5" class="nav-link p-0 text-light">Contact</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>