@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ELinkTech</title>
    <link rel="shortcut icon" type="image/ico" href="https://elinktech.net.au/img/favico.png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - ELinkTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/64301a05d6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 3000);
    </script>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid ps-5">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Main" asp-action="Index">
                    <img src="https://elinktech.net.au/img/logo.png" alt="logo" class="d-inline-block align-text-top">
                </a>
                @*<a class="navbar-brand text-light" asp-area="" asp-controller="Main" asp-action="Index">ELinkTech</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="@Url.Action("Index","Main")#sect1">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="@Url.Action("Index","Main")#sect2">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="@Url.Action("Index","Main")#sect3">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="@Url.Action("Index","Main")#sect4">Testimonials</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @{
                            var userId = userManager.GetUserId(User);
                            var user = await userManager.FindByIdAsync(userId);
                            if (signInManager.IsSignedIn(User))
                            {
                                if (userManager.IsInRoleAsync(user, "Administrator").Result == true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" type="button" data-bs-toggle="ajax-modal2" data-bs-target="#modal-AdminForm"
                                           data-url="@Url.Action("AdminForm", "Admin")">
                                            @User.Identity?.Name's Dashboard
                                        </a>
                                    </li>
                                }
                                else if (userManager.IsInRoleAsync(user, "User").Result == true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-controller="Customer" asp-action="UserProfile">Hello @User.Identity?.Name!</a>
                                    </li>

                                }

                                <li class="nav-item">
                                    <a class="nav-link text-light" type="button" data-bs-toggle="ajax-modal2" data-bs-target="#modal-quoteForm"
                                       data-url="@Url.Action("QuoteForm", "Customer")">
                                        Quote
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" type="button" data-bs-toggle="modal" data-bs-target="#modal-logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Main" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Main" asp-action="Register">Register</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <div id="placeholder2"></div>

        <!-- Logout wrapper -->
        <div class="modal fade" id="modal-logout" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title w-100 text-center" id="modalLabel">Logout</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="Main" asp-action="LogoutYes" method="post">
                            <p class="text-center">Are you leaving?</p>
                            <div class="mt-3 text-center">
                                <button class="btn btn-primary" type="submit">Yes</button>
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Logout wrapper -->

        @{
            if (Context.Request.RouteValues["controller"].ToString() == "Main" && Context.Request.RouteValues["action"].ToString() != "Login" && Context.Request.RouteValues["action"].ToString() != "Register")
            {

                <!-- Banner image -->
                <div id="sect1" style="margin-top:65px; height: 450px; background-image: url(https://elinktech.net.au/img/slider/slide_3.jpg); background-size: cover; background-position: center;" class="position-relative w-100">
                    <div class="position-absolute text-white d-flex flex-column align-items-center justify-content-center" style="top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.6);">
                        <div class="container">
                            <h1 class="mb-4 font-weight-bold text-center">Lighten up the burden of IT management<br />with ELinkTech</h1>
                            <p class="mb-5 text-center">eLink Technology is a fully Australian owned cloud computing and Manage IT service Provider, <br />which provides you with both full and part time information technology services with the latest computing power technology.</p>
                            <div class="text-center">
                                <!-- hover background-color: white; color: black; -->
                                @{
                                    if (!signInManager.IsSignedIn(User))
                                    {
                                        <a href="@Url.Action("Login","Main")" id="filled" class="btn px-5 py-3 text-white mt-3 mt-sm-0 mx-1" style="border-radius: 30px; background-color: #F39C12;">Get Started</a>
                                    }
                                }
                                <!-- hover background-color: #9B5DE5; color: white; -->
                                <a id="outlined" class="btn px-5 py-3 text-white mt-3 mt-sm-0 mx-1" style="border-radius: 30px; border: 2px solid #F39C12;"
                                   data-bs-toggle="ajax-modal2" data-bs-target="#modal-quoteForm" data-url="@Url.Action("QuoteForm", "Customer")" type="button">Request A Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner image -->
            }
        }

    </header>

    <main role="main">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="footer text-muted bg-dark mt-auto" style="position: absolute; right: 0; bottom: 0; left: 0; ">
        <div class="container p-3">
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>
                <div>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-reset">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </section>

            <section>
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                ElinkTech
                            </h6>
                            <p>
                                ELink Technology is a fully Australian owned cloud computing and Manage IT service Provider
                            </p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Main Page
                            </h6>
                            <p>
                                <a href="@Url.Action("Index","Main")#sect1" class="nav-link p-0 text-light">Home</a>
                            </p>
                            <p>
                                <a href="@Url.Action("Index","Main")#sect2" class="nav-link p-0 text-light">Services</a>
                            </p>
                            <p>
                                <a href="@Url.Action("Index","Main")#sect3" class="nav-link p-0 text-light">About</a>
                            </p>
                            <p>
                                <a href="@Url.Action("Index","Main")#sect4" class="nav-link p-0 text-light">Testimonials</a>
                            </p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Policy
                            </h6>
                            <p>
                                <a href="@Url.Action("Privacy", "Main")" class="nav-link p-0 text-light">Privacy</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p><i class="fas fa-home me-3"></i> 799 Springvale Road, Mulgrave.</p>
                            <p><i class="fas fa-envelope me-3"></i> info@elinktech.com.au</p>
                            <p><i class="fas fa-phone me-3"></i> + 61 0456 233 344</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                &copy;
                <script>document.write(new Date().getFullYear())</script>&nbsp;<b>ELinkTech</b>&nbsp;|&nbsp;All Rights Reserved.
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>