@model IEnumerable<ELinkTech.Models.Quote>
<div class="container" style="padding-top: 100px;">
    <ul class="nav nav-tabs nav-justified mb-5">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Product" asp-action="FindProducts">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="GetSuppliers">Suppliers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="GetCategories">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="GetQuotes">Quotes</a>
        </li>
    </ul>

    @if (TempData["AlertSuccess"] != null)
    {
        <div class="pt-3">
            <div class="alert alert-success" role="alert">
                <button hidden type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="alert-heading">Success!</h4>
                <p>@TempData["AlertSuccess"]</p>
            </div>
        </div>
    }
    else if (TempData["AlertFail"] != null)
    {
        <div class="pt-3">
            <div class="alert alert-danger" role="alert">
                <button hidden type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="alert-heading">Fail</h4>
                <p>@TempData["AlertFail"]</p>
            </div>
        </div>
    }
    <div class="row justify-content-md-center">
        <div class="col-12">
            <h1 class="mb-3 text-center">Quote List</h1>

            <div id="placeholder1"></div>

            <div class="table-responsive">
                <table id="quoteTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.QuoteId)</th>
                            <th>@Html.DisplayNameFor(m => m.ProductName)</th>
                            <th>@Html.DisplayNameFor(m => m.UserName)</th>
                            <th>@Html.DisplayNameFor(m => m.UserEmail)</th>
                            <th>@Html.DisplayNameFor(m => m.Message)</th>
                            <th>Reply</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var quote in Model)
                        {
                            <tr>
                                <td>@quote.QuoteId</td>
                                <td>@quote.ProductName</td>
                                <td>@quote.UserName</td>
                                <td>@quote.UserEmail</td>
                                <td>@quote.Message</td>
                                <td>
                                    <button type="button" class="btn" data-bs-toggle="ajax-modal1" data-bs-target="#replyModal"
                                            data-url="@Url.Action("Reply", "Admin", new { quoteId = quote.QuoteId })">
                                        <i class="bi bi-envelope" style="font-size: 1.3rem; color: #F39C12;"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>