@model ELinkTech.ViewModels.Email

<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="modalLabel">Reply to the quote</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="replyModalBody">
                <form action="Reply" method="post" id="reply">
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.toEmail)</label>
                        @Html.TextBoxFor(m => m.toEmail, new { @class = "form-control", @type = "email", @required = "required", @style = "width:100%;" })
                    </div>

                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.fromEmail)</label>
                        @Html.TextBoxFor(m => m.fromEmail, new { @class = "form-control", @type = "email", @required = "required", @style = "width:100%;" })
                    </div>

                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.subject)</label>
                        @Html.TextBoxFor(m => m.subject, new { @class = "form-control", @required = "required", @style = "width:100%;" })
                    </div>

                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.message)</label>
                        @Html.TextAreaFor(m => m.message, new { @class = "form-control", @hidden = "hidden", @required = "required", @id = "hiddenTextArea" })
                        <div id="replyEditor" style="height: calc(70vh - 20rem);"><p>@Html.Raw(Html.ValueFor(m => m.message))</p></div>
                    </div>

                    <div class="mt-3 text-center">
                        <button class="btn btn-primary" type="submit" data-save="ajax-modal1">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var quill = new Quill('#replyEditor', {
        theme: 'snow'
    });

    $("#reply").on("submit", function () {
        $("#hiddenTextArea").val($("#replyEditor .ql-editor").html());
    });
</script>