@{
    ViewData["Title"] = "Main Page";
}
@using Microsoft.AspNetCore.Identity
@model ELinkTech.ViewModels.Main
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<div class="container">

    @if (TempData["AlertSuccess"] != null)
    {
        <div class="pt-3">
            <div class="alert alert-success" role="alert">
                <button hidden type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="alert-heading">Success!</h4>
                <p>@TempData["AlertSuccess"]</p>
            </div>
        </div>
    }
    else if (TempData["AlertFail"] != null)
    {
        <div class="pt-3">
            <div class="alert alert-danger" role="alert">
                <button hidden type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="alert-heading">Fail</h4>
                <p>@TempData["AlertFail"]</p>
            </div>
        </div>
    }

    <section>
        <div id="sect2">
            <div class="container-fluid d-flex align-items-center justify-content-center">
                <h1 class="text-center m-3">OUR SERVICES</h1>
                @{
                    var userId = userManager.GetUserId(User);
                    var user = await userManager.FindByIdAsync(userId);
                    if (signInManager.IsSignedIn(User) && User != null)
                    {
                        if (userManager.IsInRoleAsync(user, "Administrator").Result == true)
                        {
                            <a asp-controller="Product" asp-action="AddProduct"><i class="bi bi-plus-circle mx-2" style="font-size: 1.8rem; color: #F39C12;"></i></a>
                            <a asp-controller="Product" asp-action="FindProducts"><i class="bi bi-arrow-up-right-circle mx-2" style="font-size: 1.8rem; color: #F39C12;"></i></a>
                        }
                    }
                }

            </div>

            <div class="row">
                @foreach (var v in Model.product)
                {
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="@v.ProductImage" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">@v.ProductName</h5>
                                <p class="card-text">@v.SupplierName<br>@v.CategoryName</p>

                                <button type="button" class="readmore-btn btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ModalLabel-@v.ProductID">Read more</button>
                                <div class="modal fade" id="ModalLabel-@v.ProductID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title w-100 text-center">Service Details - @v.ProductName</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body lh-base px-5">
                                                <img class="m-2 mx-auto d-block" src="@v.ProductImage" />
                                                <p>@Html.Raw(v.ProductDetails)</p>
                                            </div>
                                            <div class="modal-footer">
                                                @{
                                                    if (signInManager.IsSignedIn(User) && User != null)
                                                    {
                                                        if (userManager.IsInRoleAsync(user, "Administrator").Result == true)
                                                        {
                                                            @Html.ActionLink("Update", "UpdateProduct", "Product", new { @id = v.ProductID }, new { @class = "btn btn-primary" })
                                                            @Html.ActionLink("Delete", "DeleteProduct", "Product", new { @id = v.ProductID }, new { @class = "btn btn-danger", @onClick = "return confirm('Are you sure you want to delete?')" })
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <section>
        <div id="sect3">
            <h1 class="text-center m-3">ABOUT US</h1>
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <img src="https://elinktech.net.au/img/about/about-cargo.png" style="max-width: 100%; min-width: 100%;">
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="p-3">
                        <p>
                            eLink Technology is a fully Australian owned cloud computing and Manage IT service Provider, which provides you with both full and part time information technology services with the latest computing power technology.
                        </p>
                        <p>
                            Our philosophy is to lighten up the burden of IT management with cost effective solutions on technology infrastructure, which will not only aid the company to concentrate on the business without any IT issues, but will guarantee excelled performance, leading to higher profits.
                        </p>
                        <h4 class="my-2 text-center">WHAT WE DO?</h4>
                        <p>
                            eLink takes the existing company’s infrastructure and moves that to cloud (private/public) based infrastructure. We predominantly use Microsoft remote desktop services to manage all client devices. Client workstations are transformed as dump terminal/thin client and all user will be provided with an RDP connection to the server. With this RDP connection, users will be able to access their sessions from any device which supports remote desktop protocol. In addition to RDS services we also provide backup, IT out sourcing to small and medium companies, Web hosting and email solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="p-3">
                        <h4 class="my-2 text-center">WHY CHOOSE ELINK?</h4>
                        <p>
                            eLink is run by a group of highly professional personals who aim to provide excellent services for cost-effective solutions. On top of outstanding services, we aim to ensure the following:
                        </p>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header m-0" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Reduce The Capital Cost
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">eLink is run by a group of highly professional personals who aim to provide excellent services for cost-effective solutions.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header m-0" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Improve Accessibility
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">eLink is run by a group of highly professional personals who aim to provide excellent services for cost-effective solutions.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header m-0" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        Improve Flexibility
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">eLink is run by a group of highly professional personals who aim to provide excellent services for cost-effective solutions.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header m-0" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                        Ensure Easy Management And Single Point Of Contact
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">eLink is run by a group of highly professional personals who aim to provide excellent services for cost-effective solutions.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header m-0" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                        Highly Qualified Technical Persons
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">eLink is run by a group of highly professional personals who aim to provide excellent services for cost-effective solutions.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header m-0" id="flush-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                        After Office Hours Support
                                    </button>
                                </h2>
                                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">eLink is run by a group of highly professional personals who aim to provide excellent services for cost-effective solutions.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <img src="https://elinktech.net.au/img/about/about-details.jpg" style="max-width: 100%; min-width: 100%;">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div id="sect4">
            <h1 class="text-center m-3">WHAT CLIENT’S SAY</h1>

            <!-- Carousel wrapper -->
            <div id="carouselExampleControls" class="carousel slide text-center carousel-dark mt-5" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="rounded-circle shadow-1-strong mb-4"
                             src="https://elinktech.net.au/img/testmonial/1.jpg" alt="avatar" style="width: 150px;" />
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                <h5 class="mb-3">KC Foo</h5>
                                <p>CEO, HEMAC</p>
                                <p class="text-muted">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Elink technology provides single window solution for our medical surgery center with cloud networking solution which covers almost all the aspects and need of medical center. i am happy with the support of Elink.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle shadow-1-strong mb-4"
                             src="https://elinktech.net.au/img/testmonial/2.jpg" alt="avatar" style="width: 150px;" />
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                <h5 class="mb-3">Dr.Param</h5>
                                <p>Director, Lifeline Medicals</p>
                                <p class="text-muted">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Elink technology provides Complete IT solution for our medical centers with cloud/networking/Server support which covers almost all the aspects and need of medical center. We are please to continue our relationship for a longer period.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle shadow-1-strong mb-4"
                             src="https://elinktech.net.au/img/testmonial/3.jpg" alt="avatar" style="width: 150px;" />
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                <h5 class="mb-3">Kugan Raja</h5>
                                <p>Director, MKSFoods</p>
                                <p class="text-muted">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    We are with Elink Technology for the last 7 years and never had any disappoinments with the support we get from eLink, Karan and Sathi was always very supportive. We believe the relationship will continue for ever.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle shadow-1-strong mb-4"
                             src="https://elinktech.net.au/img/testmonial/4.jpg" alt="avatar" style="width: 150px;" />
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                <h5 class="mb-3">Andy/Josh</h5>
                                <p>CEO, SummitIB</p>
                                <p class="text-muted">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Initially we had some other IT support then we got introduced to Karan and Sathi at Elink, since 2016 we are with elink. We recomend elink , they provide professional level suport.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="rounded-circle shadow-1-strong mb-4"
                             src="https://elinktech.net.au/img/testmonial/5.jpg" alt="avatar" style="width: 150px;" />
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                <h5 class="mb-3">Helen Strangos</h5>
                                <p>DPSC</p>
                                <p class="text-muted">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    We at DPSC moved to eLink IT support since 2014 and happy with the way they engaged with us. Highly Recomendable.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Carousel wrapper -->

        </div>
    </section>
</div>