@model ELinkTech.Models.Product
@{
}
<div class="container" style="padding-top: 120px;">
    <ul class="nav nav-tabs nav-justified mb-5">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Product" asp-action="FindProducts">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="GetSuppliers">Suppliers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="GetCategories">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="GetQuotes">Quotes</a>
        </li>
    </ul>

    <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-10">
            <h1 class="mb-3 text-center">Edit Service</h1>
            <form method="post" action="UpdateProduct" class="mt-5">
                @using (Html.BeginForm())
                {
                    <div class="mb-3" hidden>
                        <label>@Html.LabelFor(m => m.ProductID)</label>
                        <input type="text" class="form-control" asp-for="ProductID" readonly />
                    </div>
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.ProductName)</label>
                        <input type="text" class="form-control" asp-for="ProductName" placeholder="Name of service" required />
                    </div>
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.ProductImage)</label>
                        <input type="url" class="form-control" asp-for="ProductImage" placeholder="Please provide URL of image" required />
                    </div>
                    <div>
                        <label>@Html.LabelFor(m => m.SupplierID)</label>
                    </div>
                    <div class="row mb-2">
                        <label class="form-label">
                            @Html.DropDownListFor(m => m.SupplierID, new SelectList(Model.SupplierList, "Value", "Text"), "Select a supplier", new { @id = "idDD", @class = "form-control", @required = "required" })
                        </label>
                    </div>
                    <div>
                        <label>@Html.LabelFor(m => m.CategoryID)</label>
                    </div>
                    <div class="row mb-2">
                        <label class="form-label">
                            @Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.CategoryList, "Value", "Text"), "Select Category", new { @id = "idDD", @class = "form-control", @required = "required" })
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.ProductDetails)</label>
                        <textarea id="editor" class="form-control" asp-for="ProductDetails"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="product-btn btn btn-custom">Submit</button>
                    </div>
                }

            </form>
        </div>
    </div>
</div>