@model ELinkTech.Models.ApplicationUser


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-10">
            <h1 class="mb-3 text-center">Edit Profile</h1>
            <form method="post" asp-action="Edit" class="mt-5">
                @using (Html.BeginForm())
                {
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.FirstName)</label>
                        <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name" required/>
                    </div>
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.LastName)</label>
                        <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name" required/>
                    </div>
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.State)</label>
                        <input type="text" class="form-control" asp-for="State" placeholder="State" required/>
                    </div>
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.Address)</label>
                        <input type="text" class="form-control" asp-for="Address" placeholder="Address" required/>
                    </div>
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.Suburb)</label>
                        <input type="text" class="form-control" asp-for="Suburb" placeholder="Suburb" required/>
                    </div>
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.Postcode)</label>
                        <input type="text" class="form-control" asp-for="Postcode" placeholder="Postcode" required/>
                    </div>
                    <div class="mb-3">
                        <label>@Html.LabelFor(m => m.DateOfBirth)</label>
                        <input type="text" class="form-control" asp-for="DateOfBirth" placeholder="Date of birth" required/>
                    </div>

                    <tr><td></td><td><button type="submit" class="btn btn-primary">Update</button></td></tr>
                }
            </form>
        </div>
    </div>
</div>