@{
    ViewData["Title"] = "Quote Form";
}
@using Microsoft.AspNetCore.Identity
@model ELinkTech.Models.Quote
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
<div class="col-12 col-lg-4">
                    <h1 class="text-center m-3">Ask for a Quote</h1> 
                    @{
                        if (signInManager.IsSignedIn(User))
                        {
                            <form class="information" method="post">
                                <div class="mb-3">
                                    <label>@Html.LabelFor(m => m.ProductID)</label>
                                    @Html.DropDownListFor(m => m.ProductID, new SelectList(Model.ProductList, "Value", "Text"), "Select Service", new {@class = "form-control", @id = "quote-product-list", @required = "required"}) 
                                </div>

                                <div class="mb-3" hidden>
                                    <label>@Html.LabelFor(m => m.UserID)</label>
                                    <input type="text" class="form-control" asp-for="UserID" placeholder="Name">
                                    <span asp-validation-for="UserID" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label>@Html.LabelFor(m => m.UserName)</label>
                                    <input type="text" class="form-control" asp-for="UserName" placeholder="Name">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label>@Html.LabelFor(m => m.UserEmail)</label>
                                    <input type="email" class="form-control" asp-for="UserEmail" placeholder="Email" required>
                                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label>@Html.LabelFor(m => m.Message)</label>
                                    <textarea rows="5" type="text" class="form-control" asp-for="Message" placeholder="Message" required></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>

                                <div class="mt-3 text-center">
                                    <button class="btn btn-primary" asp-action="SubmitQuote">Submit</button>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="mb-3 text-center">
                                <p>Please login<br>
                                    <a class="btn btn-primary" asp-controller="Main" asp-action="Login">Login</a>
                                </p>
                                <p>Don't have an account? Register here<br>
                                    <a class="btn btn-primary" asp-controller="Main" asp-action="Register">Register</a>
                                </p>
                            </div>
                        }
                    }
                </div>